<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="dismissModal()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ 'nuevo post' | uppercase }}</ion-title>
</ion-toolbar>

<ion-content padding>

  <form (ngSubmit)="onSignup(form)" #form="ngForm">
    <ion-card>
      <ion-item color="tertiary">
        <ion-label position="fixed" bold>Título</ion-label>
        <ion-input type="text" name="titulo" [(ngModel)]="titulo" placeholder="Ponme un título" autofocus minlength="1"
          maxlength="50" spellcheck clearInput inputmode="text" required>
        </ion-input>
      </ion-item>
      <ion-card-header>
        <ion-card-title color="light" text-center>{{ titulo | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img class="post-img" useImg
          src="https://images.pexels.com/photos/434090/pexels-photo-434090.jpeg?auto=compress&cs=tinysrgb&h=650&w=940%201x,%20https://images.pexels.com/photos/434090/pexels-photo-434090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940%202x"
          alt="foto de husky"></ion-img>
        <ion-item-group class="post-actions" padding-bottom>
          <ion-button class="like">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button class="guardar">
            <ion-icon name="save"></ion-icon>
          </ion-button>
          <ion-button class="compartir">
            <ion-icon name="share"></ion-icon>
          </ion-button>
        </ion-item-group>
        <ion-card-subtitle text-right>
          <ion-chip outline color="light">
            <ion-avatar>
              <ion-img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+"
                alt="foto del autor">
              </ion-img>
            </ion-avatar>
            <ion-label>Aingeru72</ion-label>
          </ion-chip>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-row>
    <ion-col>
      <ion-button color="primary" fill="solid" expand="block">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="primary" fill="solid" expand="block">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer translucent>
  <ion-toolbar>
    <ion-button type="submit" color="success" fill="clear" expand="full" (click)="submit()">
      <ion-title bold>
        <ion-icon slot="start" name="checkmark"></ion-icon>
        PUBLICAR
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-footer>